<hr>
<h2 class="favorites-title">Мої Обрані</h2>
<ul class="favoritList list">
  {{#each this}}
  <li class="cardProfile  adsItem favorit" data-adid="{{_id}}">
    <img src="{{images}}" alt="первое фото товара" class="ad-img" />
    <div class="opis">
      <h3>{{title}}</h3>
      <h5>Вартість: {{price}}</h5>
    </div>
  </li>
  {{/each}}
</ul>