.modalProfile {
  
  min-width: 350px;
  max-width: 840px;
  text-align: center;
  border: 2px solid #2b5577;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}


.list {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cardProfile {
  width: 10px;
  list-style: none;
  width: 250px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #8bb4d6;
  border-radius: 15px;
  position: relative;
  background-color: white;
  
}

.dellIdAd,
.editId {
  border-radius: 50px;
  border-style: none;
  color: rgb(255, 255, 255);
  background-color: brown;
}

.dellIdAd:hover,
.editId:hover {
  background-color: #2b5577;

}

.dellIdAd {
  position: absolute;
  right: -10px;
  top: -10px;
}

.titleName {
  text-align: center;
  padding: 9px;
  margin-left: 10px;
  margin-right: 10px;
  /* width: 200px; */
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #8bb4d6;
  border-radius: 15px;
}

.basicLightbox__placeholder {
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}



.miniInfoPrice{
  font-size:  20px;
}

.miniInfotitle {
  font-size:  20px;
  font-weight: 700;
}