<div class="fio">
    <h2 class="titleName">
        <small class="spanName">Ім'я: </small>
        <span class="spanName">{{name}}</span>
    </h2>
    <div class="statistic">
    <p>Мої Оголошення: <b>{{adsCount}}</b> шт.</p>
    <p>Мої Обрані: <b>{{favorCount}}</b> шт.</p>
</div></div>
