
/* ==================== global setting ==================== */

html, body {
  margin: 0;
  box-sizing: border-box;
}

.displayAdsGeneralTitle {
  font-style: 36px;
  text-transform: uppercase;
}

.containerDisplayAdsCardAll {
  width: 1200px;
  margin: 0;
  padding: 0;
}

.displayCardAdsWrap {
  position: absolite;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
}

.containerDisplayAdsCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 220px;
  margin: 0;
  background: #fff;
  /* background-color: #47bd47; */
  border: 1px solid #47bd47;
  float: left;
  text-align: center;
  transform-style: preserve-3d;
}

.adsList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.adsItem {
  width: 200px;
  margin: 0 auto;
  border-bottom: 1px solid #F5F5F5;
  background: white;
  /* transition: .3s ease-in; */
}

.adsItem :hover {
  cursor: pointer;
  transform: translateZ(10px);

}

/* ==================== TOP CARD ==================== */

.displayAdsCardsTopImg {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.containerDisplayAdsCards .img {
  width: 100%;
  /* height: 100%; */
  margin-top: 10px;
  font-size: 18px;
}

/* ==================== BOTTOM CARD ==================== */

.displayAdsCardsBottomText {
  background-color: #616161;
  margin: 0;
  padding: 0;
}

.containerDisplayAdsCards .adsTitle {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 10px 0;

}

.containerDisplayAdsCards .adsPrice {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 12px;
}








  /* border: none;
  outline: 0;
  padding: 10px;
  color: #fff;
  text-align: center;
  cursor: pointer; */


/*
.adsItem:hover {border-bottom: 2px solid #fc5a5a;}
.adsItem img {
display: block;
width: 100%;
}
.adsList {
  background: #fafafa;
  padding: 15px 0;
}
*/
