<div class="template">
    <p class="isActive">{{isActive}}</p>
    <p class="userId">{{userId}}</p>
    <h2 class="title">{{title}}</h2>
    <a href="#">
    <i class="material-icons">close</i>
    </a>
</div>
