<section class="login-widows">
  <div class="wraper-login">
    <button class="autoriz activ-btn">
      Авторизація
    </button>
    <button class="registra">
      Реєстрація
    </button>

  </div>
  <form action="#" class="signIn-form activ-form ">

    <div class="wrapinput">
      <div class="group">
        <input name="mail" type="text" required="required" />
        <label for="mail">E-mail</label>
        <div class="bar"></div>
      </div>
      <div class="group">
        <input name="pass1" type="password" required="required" />
        <label for="pass1">Пароль</label>
        <div class="bar"></div>
      </div>
    </div>
    <button class="form_sedn_btn1" type="submit">
      УВІЙТИ
    </button>
  </form>

  <form action="#" class="registration-form">
    <div class="wrapinput">
      <input name="login" type="text" class="form_input login" maxlength="26" minlength="4" placeholder="Ваше ім'я *" required />
      <input name="mail" type="email" class="form_input email" maxlength="80" minlength="6" placeholder="ваш E-mail *" required />
      <input name="pass1" type="password" class="form_input style-pass-1" minlength="5" maxlength="80" placeholder="пароль *" required />
      <input name="pass2" type="password" class="form_input style-pass-2" minlength="5" maxlength="80" placeholder="Повторіть пароль*" required />
    </div>
    <button class="form_sedn_btn2" type="submit">
      ЗАРЕЄСТРУВАТИСЯ
    </button>
  </form>
</section>