<div class="displayCardAdsWrap">
<div class="containerDisplayAdsCards">
<li class="adsItem">
  <div class="containerDisplayAdsCardsTop">
    {{#each images}}
  <img src="{{this}}" height="60" alt="">
  {{/each}}
  </div>
  <div class="containerDisplayAdsCardsBottom">
  <h2 class="adsTitle">{{title}}</h2>
  <p class="adsPrice">Вартість {{price}} грн</p>
  </div>
</li>
</div>
</div>
