<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>board-app</title>
  </head>

  <body>
    <ul class="list">
      <li data-id="18">
        <button class="buttonDel" data-action="delete">Delete</button>
        <button class="edit" data-action="edit">Edit</button>
      </li>

      <li data-id="12">
          <button class="buttonDel" data-action="delete">Delete</button>
          <button class="edit" data-action="edit">Edit</button>
        </li>
        <li data-id="12">
            <button class="buttonDel" data-action="delete">Delete</button>
            <button class="edit" data-action="edit">Edit</button>
          </li>
      <!-- <li data-id="28"><button class="buttonDel" data-action="delete">Delete</button></li>
      <li data-id="38"><button class="buttonDel" >Delete</button></li>
      <li data-id="88"><button class="buttonDel" >Delete</button></li> -->
    </ul>



  </body>
</html>
