html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

main {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: none;
}


button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,


fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details {
  display: block
}

summary {
  display: list-item
}

template {
  display: none
}

[hidden] {
  display: none
}
.visually-hidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
/* pt-sans-regular - cyrillic-ext_latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
    url('./fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-700italic - cyrillic-ext_latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
    url('./fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-700italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-700italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-italic - cyrillic-ext_latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'),
    url('./fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-700 - cyrillic-ext_latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
    url('./fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/pt-sans-v11-cyrillic-ext_latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

*,
:after,
:before {
  box-sizing: inherit;
  font-family: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  background-color: rgba(231, 224, 26, 0.6)
}

.container {
  width: 90%;
  margin: 0 auto;
}
.basicLightbox__placeholder {
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
   }

@media screen and (min-width:768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width:1200px) {
  .container {
    width: 1200px;
  }
}


nav {
  margin-bottom: 20px;
}
header {
  padding-top: 20px;
  background: linear-gradient(180deg, #2b5577 68%, #497eaa 68%);
}
.logo {
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .container {
  min-width: 320px;
  }

  .user {
    display: flex;
    justify-content: space-between;
  }
  
  .userCabinet {
    display: flex;
  }
  
  .btnsection {
    display: flex;
  }
  
  .authorization {
    height: 40px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
    background-color: #2b5577;
    margin-right: 20px;
  }
  
  .profilebtn {
    height: 40px;
    color: #fff;
    position: relative;
    /* background-image: url("./images/profile.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: none;
    padding-right: 50px;
    margin-right: 15px;
  }

  .profilebtn::after {
    position: absolute;
    width: 40px;
    height: 40px;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    right: 0;
    background-image: url("./images/profile.png");
}
  
  .exitbtn {
    width: 40px;
    height: 40px;
    background-image: url("./images/exit.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    color: transparent;
    /* You should change it on Visualy hidden */
  }
  
  .adcontrol {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  
  .adcontrol__additem {
    width: 40px;
    height: 40px;
    color: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("./images/add.png");
    border: 2px solid #ffffff;
    border-radius: 25px;
  }
  
  .adcontrol__searchform {
    background-color: #fff;
    border: none;
    border-radius: 25px;
    padding: 0 15px;
  }
  
  .adcontrol__search {
    height: 40px;
    border: none;
    background: transparent;
  }
  
  .adcontrol__searchbtn {
    height: 40px;
    border: none;
    background: transparent;
    color: #497eaa;
  }
  
  .filter-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #497eaa;
  }
  
  .filter-item {
    border: none;
    line-height: 25px;
    background-color: transparent;
  }
  
  .filter-item:focus,
  .filter-item:hover {
    outline: none;
    background-color: #c2c2c2;
  }
  
  .filter-item__clear {
    width: 25px;
    height: 25px;
    margin: 2px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("./images/clear.png")
  }
  
  .ad-wrapper {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .ad-item {
    border: 2px solid #9cc3e3;
    border-radius: 15px;
    display: flex;
    position: relative;
    padding: 20px 20px 5px 20px;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
  }
  
  .ad-tag {
    position: absolute;
    top: -10px;
    left: 40px;
    border: 2px solid #9cc3e3;
    border-radius: 5px;
    height: 25px;
    padding: 0 10px;
    line-height: 21px;
    background-color: #fff;
  }
  
  .ad-img {
    background-color: #2b5577;
  }
  
  .ad-heading {
    margin: 0;
  }

  footer {
    background: linear-gradient(0deg, #2b5577 90%, rgba(73, 126, 170, 0.1));
    line-height: 40px;
    color: #fff;
  }
}

@media screen and (min-width:768px) {
  .container {
    width: 720px;
  }

  .ad-item {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 20px;
  }
  
  .ad-img {
    margin-right: 20px;
  }

  .ad-rightpart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}

@media screen and (min-width:1200px) {
  .container {
    width: 1100px;
  }

  .ad-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .ad-item {
    width: 540px;
  }
}

